* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #171717; 
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background-color: #303030;
}
body::-webkit-scrollbar {
  width: 6px;
  background: #17171780;
}
body::-webkit-scrollbar-thumb {
  background: #7766DD;
}

